**
!package.json
!package-lock.json
!tsconfig.json
!src/
!src/**
!public/
!public/**
!config/
!config/production.yaml
!scripts/
!scripts/container-smoke.mjs
!scripts/deployment-smoke.mjs
!examples/
!examples/workspace/
!examples/workspace/**
!Dockerfile
!LICENSE
